<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estadisticas Prueba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="">
    <script src="js/popper.min.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/6bc7d72b54.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css">
  </head>

  <body>
    <div class="" id="vueMain">
      <form id="formDown" method="get" action="docs/EXCELS/<?php echo $excel_folder; ?>/<?php echo $excel_name; ?>.xlsx">
        <button id="download"><i class="fas fa-file-excel"></i></button>
      </form>

      <nav class="navbar navbar-expand-md d-md-none">
        <img src="assets/IEEBCBlanco.svg" alt="" height="40">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-ellipsis-h"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="nav flex-column">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AYUNTAMIENTOS</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN__BC_MUN','AYUNTAMIENTOS','Estadística de Ayuntamientos por Municipio')">Estadística por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_CAS','AYUNTAMIENTOS','Estadística de Ayuntamientos por Casilla')">Estadística por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_MUNCAND','AYUNTAMIENTOS','Estadística de Ayuntamientos por Candidato (Municipio)')">Estadística por Candidato (MUN)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_MUNPP','AYUNTAMIENTOS','Estadística de Ayuntamientos por Partido Politico (Municipio)')">Estadística por Partido Politico (MUN)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_SEC','AYUNTAMIENTOS','Estadística de Ayuntamientos por Sección')">Estadística por Sección</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DIPUTACIONES MR</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_CAS','DIPUTACIONES_MR','Estadística de Diputaciones MR por Casilla')">Estadística por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_DIS','DIPUTACIONES_MR','Estadística de Diputaciones MR por Distrito')">Estadística por Distrito</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_DISCAND','DIPUTACIONES_MR','Estadística de Diputaciones MR por Candidato (Distrito)')">Estadística por Candidato (DIST)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_DISPP','DIPUTACIONES_MR','Estadística de Diputaciones MR por Partido Politico (Distrito)')">Estadística por Partido Politico (DIST)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_MUN','DIPUTACIONES_MR','Estadística de Diputaciones MR por Municipio')">Estadística por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_SEC','DIPUTACIONES_MR','Estadística de Diputaciones MR por Sección')">Estadística por Sección</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DIPUTACIONES RP</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_CAS','DIPUTACIONES_RP','Estadística de Diputaciones RP por Casilla')">Estadística por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_DISPP','DIPUTACIONES_RP','Estadística de Diputaciones RP por Partido Politico (Distrito)')">Estadística por Partido Politico (DIST)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_MUN','DIPUTACIONES_RP','Estadística de Diputaciones RP por Municipio')">Estadística por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_SEC','DIPUTACIONES_RP','Estadística de Diputaciones RP por Sección')">Estadística por Sección</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">GOBERNATURA</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:zclick="loadApi('2019_SEE_GOB_BC_CAS','GOBERNADOR','Estadística de Gobernatura por Casilla')">Estadística por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_DIS','GOBERNADOR','Estadística de Gobernatura por Distrito')">Estadística por Distrito</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_DISCAND','GOBERNADOR','Estadística de Gobernatura por Candidato (Distrito)')">Estadística por Candidato (DIST)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_DISPP','GOBERNADOR','Estadística de Gobernatura por Partido Politico (Distrito)')">Estadística por Partido Politico (DIST)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_ENT','GOBERNADOR','Estadística de Gobernatura por Entidad')">Estadística por Entidad</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_ENTCAND','GOBERNADOR','Estadística de Gobernatura por Candidato (Entidad)')">Estadística por Candidato (ENT)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_ENTPP','GOBERNADOR','Estadística de Gobernatura por Partido Politico (Entidad)')">Estadística por Partido Politico (ENT)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_MUN','GOBERNADOR','Estadística de Gobernatura por Municipio')">Estadística por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_SEC','GOBERNADOR','Estadística de Gobernatura por Sección')">Estadística por Sección</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="d-none d-md-flex verticalNav">
        <div class="container" id="navHead">
          <img src="assets/IEEBCBlanco.svg" alt="" height="50">
        </div>
        <div class="toolBar container">
          <ul class="nav flex-column">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AYUNTAMIENTOS</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN__BC_MUN','AYUNTAMIENTOS','Estadística de Ayuntamientos por Municipio')">Estadística de Ayuntamientos por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_CAS','AYUNTAMIENTOS','Estadística de Ayuntamientos por Casilla')">Estadística de Ayuntamientos por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_MUNCAND','AYUNTAMIENTOS','Estadística de Ayuntamientos por Candidato (Municipio)')">Estadística de Ayuntamientos por Candidato (Municipio)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_MUNPP','AYUNTAMIENTOS','Estadística de Ayuntamientos por Partido Politico (Municipio)')">Estadística de Ayuntamientos por Partido Politico (Municipio)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_PRES_MUN_BC_SEC','AYUNTAMIENTOS','Estadística de Ayuntamientos por Sección')">Estadística de Ayuntamientos por Sección</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DIPUTACIONES MR</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_CAS','DIPUTACIONES_MR','Estadística de Diputaciones MR por Casilla')">Estadística de Diputaciones MR por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_DIS','DIPUTACIONES_MR','Estadística de Diputaciones MR por Distrito')">Estadística de Diputaciones MR por Distrito</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_DISCAND','DIPUTACIONES_MR','Estadística de Diputaciones MR por Candidato (Distrito)')">Estadística de Diputaciones MR por Candidato (Distrito)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_DISPP','DIPUTACIONES_MR','Estadística de Diputaciones MR por Partido Politico (Distrito)')">Estadística de Diputaciones MR por Partido Politico (Distrito)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_MUN','DIPUTACIONES_MR','Estadística de Diputaciones MR por Municipio')">Estadística de Diputaciones MR por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_MR_BC_SEC','DIPUTACIONES_MR','Estadística de Diputaciones MR por Sección')">Estadística de Diputaciones MR por Sección</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DIPUTACIONES RP</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_CAS','DIPUTACIONES_RP','Estadística de Diputaciones RP por Casilla')">Estadística de Diputaciones RP por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_DISPP','DIPUTACIONES_RP','Estadística de Diputaciones RP por Partido Politico (Distrito)')">Estadística de Diputaciones RP por Partido Politico (Distrito)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_MUN','DIPUTACIONES_RP','Estadística de Diputaciones RP por Municipio')">Estadística de Diputaciones RP por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_DIP_LOC_RP_BC_SEC','DIPUTACIONES_RP','Estadística de Diputaciones RP por Sección')">Estadística de Diputaciones RP por Sección</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">GOBERNATURA</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" v-on:zclick="loadApi('2019_SEE_GOB_BC_CAS','GOBERNADOR','Estadística de Gobernatura por Casilla')">Estadística de Gobernatura por Casilla</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_DIS','GOBERNADOR','Estadística de Gobernatura por Distrito')">Estadística de Gobernatura por Distrito</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_DISCAND','GOBERNADOR','Estadística de Gobernatura por Candidato (Distrito)')">Estadística de Gobernatura por Candidato (Distrito)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_DISPP','GOBERNADOR','Estadística de Gobernatura por Partido Politico (Distrito)')">Estadística de Gobernatura por Partido Politico (Distrito)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_ENT','GOBERNADOR','Estadística de Gobernatura por Entidad')">Estadística de Gobernatura por Entidad</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_ENTCAND','GOBERNADOR','Estadística de Gobernatura por Candidato (Entidad)')">Estadística de Gobernatura por Candidato (Entidad)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_ENTPP','GOBERNADOR','Estadística de Gobernatura por Partido Politico (Entidad)')">Estadística de Gobernatura por Partido Politico (Entidad)</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_MUN','GOBERNADOR','Estadística de Gobernatura por Municipio')">Estadística de Gobernatura por Municipio</a>
                <a class="dropdown-item" v-on:click="loadApi('2019_SEE_GOB_BC_SEC','GOBERNADOR','Estadística de Gobernatura por Sección')">Estadística de Gobernatura por Sección</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="container-fluid" id="content">
        <div class="row">
          <div id="LOAD">
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="col-12" id="info">
            <div class="top" id="excel_title">

            </div>
            <div class="top" id="excel_title">
              <h6>{{ title }}</h6>
            </div>
            <div id="excel_result">
              <table>
                <thead>
                  <tr>
                    <th>
                      <img src="assets/default.png" alt="">
                      <strong>#ID</strong>
                    </th>
                    <th v-for="key in json_keys">
                      <img v-bind:src="getKeyImage(key)" onerror="this.src='assets/default.png'" alt="">
                      <strong>{{ key }}</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(row, index) in json">
                    <td>
                      {{ (index + 1) }}
                    </td>
                    <td v-for="col in row">
                      {{ col }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- VUE DIV ID CLOSE -->
  </body>
  <script src="js/jquery-3.4.1.min.js" charset="utf-8"></script>
  <script src="js/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/vue.js" charset="utf-8"></script>
  <script src="js/codigoVue.js"></script>
</html>
